
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<body>
    <ul>
        <li class="left-half">
          <article>
            <h2>
                About Me
            </h2>
            
            <p>
                My name is Matt and I just graduated from Rowan University with an MS in Computer Science. 
                Learning new things is one of my greatest passions, and I have a specific interest in using 
                this passion to become the best full stack developer than I can be.
            </p>
          </article>
          
        </li>
        <li class="right-half">
          <article>
            <img src="https://i.gyazo.com/bf99b4e9d1217ae846fac1df5958b743.png">
          </article>
        </li>
      </ul>
</body>
