<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<body>
    <ul>
        <li class="left-half">
          <article>
            <h1> Matt Kane</h1>
            <h2> Software Developer </h2>
            <h3> Insert short description here.</h3>
          </article>
          
        </li>
        <li class="right-half">
          <article>
            <img src="https://i.gyazo.com/bf99b4e9d1217ae846fac1df5958b743.png">
            <div class="wrapper">
                <a href="https://www.linkedin.com/in/matthew-kane-67b47a176/" class="icon linkedin">
                  <div class="tooltip">Linkedin</div>
                  <span><i class="fab fa-linkedin"></i></span>
                </a>
                <a href="mailto:mattkane126@gmail.com" class="icon mail-bulk">
                  <div class="tooltip">Email</div>
                  <span><i class="fas fa-mail-bulk"></i></span>
                </a>
                <a href="https://www.instagram.com/mkane126/" class="icon instagram">
                  <div class="tooltip">Instagram</div>
                  <span><i class="fab fa-instagram"></i></span>
                </a>
                <a href="https://github.com/mkane126" class="icon github">
                  <div class="tooltip">Github</div>
                  <span><i class="fab fa-github"></i></span>
                </a>
              </div>
          </article>
        </li>
      </ul>
</body>
