
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<body>
    <ul>
        <li class="left-half">
          <article>
            <h2>
                Skills
            </h2>
            
            <p>
                My name is Matt and I just graduated from Rowan University with an MS in Computer Science. 
                Learning new things is one of my greatest passions, and I have a specific interest in using 
                this passion to become the best full stack developer than I can be.
            </p>
          </article>
          
        </li>
        <li class="right-half">
          <article>
            <div class = "wrapper">
                <div class="skill">
                    <h3>Python <fa-icon [icon]="faPython"></fa-icon></h3>
                </div>
                <div class="skill">
                    <h3>Java <fa-icon [icon]="faJava"></fa-icon></h3>
                </div>
                <div class="skill">
                    <h3>HTML5 <fa-icon [icon]="faHTML"></fa-icon></h3>
                </div>
                <div class="skill">
                    <h3>Git <fa-icon [icon]="faGitAlt"></fa-icon></h3>
                </div>
                <div class="skill">
                    <h3>Linux <fa-icon [icon]="faLinux"></fa-icon></h3>
                </div>
                <div class="skill">
                    <h3>Angular <fa-icon [icon]="faAngular"></fa-icon></h3>
                </div>
            </div>
          </article>
        </li>
      </ul>
</body>
