
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<body>
    <article>

        <h1>
            Experience
        </h1>

        <h2>
            Work Experience
        </h2>
        

        <h2>
            Personal Projects
        </h2>
        <div class="wrapper">
            <div id="left">
                <a href="https://github.com/bushmanr1/senior_project" class="image">
                    <figure>
                        <span><img src="https://i.gyazo.com/e8f031d8a48a6e51136c5c16a8409454.png" alt ="zoom"></span>
                        <figcaption>Listnr: A music recommendation app using Spotify's web API
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div id="right">
                <a href="#" class="image">
                    <figure> 
                        <span><img src="https://i.gyazo.com/970dfbfda93bbedd07544858ef613a67.png"></span>
                        <figcaption>KaneC: A experimental python-based chess engine</figcaption>
                    </figure>
                </a>
            </div>
          </div>
          
    </article>  
    
    
</body>
