
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<body>
    <article>

        <h1>
            Experience
        </h1>

        <h2>
            Work Experience
        </h2>

        <ul>
            <h3>Lockheed Martin Rotary and Mission Systems, Moorestown, NJ</h3>
            <h4>College Student Tech Senior Specialist (Summers 2020,2021)
            </h4>
            <li>Worked within a scrum team to develop and test new and existing software</li>
            <li>Simplified and reworked product build processes utilizing Maven </li>
            <li>Added products into company’s Jenkins auto deployment pipeline using Ansible </li>
        </ul>
        <div>

        </div>
        <ul>
            <h3>Route 73 Bowling Center, Inc., Maple Shade, NJ</h3>
            <h4>Website Administrator/IT Assistant (March 2017-May 2020)</h4>
            <li>Responsible for administering the company’s website, keeping its content and <br>
                design current, and increasing the company’s online marketing presence</li>
            <li>Institute SMS marketing platform </li>
            <li>Create excel spreadsheets to record and analyze inventory and sales data</li>
        </ul>

        <h2>
            Projects
        </h2>
        <div class="wrapper">
            <div id="left">
                <a href="https://github.com/bushmanr1/senior_project" class="image">
                    <figure>
                        <span><img src="https://i.gyazo.com/e8f031d8a48a6e51136c5c16a8409454.png" alt ="zoom"></span>
                        <figcaption>Listnr: A music recommendation app using Spotify's web API
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div id="right">
                <a href="#" class="image">
                    <figure> 
                        <span><img src="https://i.gyazo.com/970dfbfda93bbedd07544858ef613a67.png"></span>
                        <figcaption>KaneC: A experimental python-based chess engine</figcaption>
                    </figure>
                </a>
            </div>
          </div>
          
    </article>  
    
    
</body>
